* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

/* Página Usuários */
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th, td{
    padding: 5px 10px;
}
th{
    background-color: rgba(109, 119, 168, 0.459);
}