
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" {% block css %}{% endblock %}>
    <link rel="stylesheet" href="{{url_for('static', filename='./css/normalize.css')}}">
</head>
<body>
    <header class="navegacao">
        <img  src="../static/imagens/logo.jpeg" alt="Logo">
        <nav>
            <a href="/">Home |</a>
            <a href="/quem-somos">Quem Somos |</a>
            <a href="/contato">Contato</a>
        </nav>
    </header>

    {% block conteudo %}
    {% endblock %}

</body>
</html>