<head>
    <link  rel="stylesheet" href="{{url_for('static', filename='./css/contato.css')}}">
    <title>Contato</title>
</head>

{% extends 'base.html' %}
{% block conteudo %}
    <main class="principal">
        <div class="principal-cima">
            <h1>Entre em contato</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, id non?</p>
            <hr>
        </div>
        <div class="principal-baixo">
            <form>
                Seu email:<br>
                <input type="text" name="email"> <br>
                Assunto:<br>
                <input type="text" name="assunto"> <br>
                Descrição:<br>
                <input class="input-descricao" type="text" name="descrição"> <br>
                <input class="input-enviar" type="submit" value="Enviar" >
            </form>
        </div>
    </main>
    <footer>
        <p class="texto-footer">Todos os Direitos Reservados</p>
    </footer>

{% endblock %}